.tabs {
  width: 100%;
  padding: 0 rem-calc(15);
  @include breakpoint(large) {
    max-width: rem-calc(1170);
  }
  margin: 0 auto;
}

//.node-page .content {
//  width: 100%;
//  padding: 0 rem-calc(15);
//  @include breakpoint(large) {
//    max-width: rem-calc(1170);
//  }
//  margin: 0 auto;
//}

ul.inline li {
  padding: 0;
}

ul.clearfix::after {
  content: none;
}

.responsive-menus.responsified.responsive-toggled.absolute .responsive-menus-simple {
  position: absolute;
  z-index: 999;
  top: 100%;
  left: 0;
}

.responsive-menus.responsified.responsive-toggled.absolute {
  position: inherit;
}

.responsive-menus.responsified.responsive-toggled span.toggler {
  border-bottom: none;
}

.responsive-menus.responsified span.toggler {
  padding: 0 rem-calc(16);
  font-family: 'FontAwesome', Arial, sans-serif;
  font-weight: 900;
  background: #fff;
  color: $primary-color;
  border-radius: 0;
  box-shadow: none;
  font-size: rem-calc(40);
}

.responsive-menus.responsified .responsive-menus-simple {
  background: $secondary-color;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: none;
}

.responsive-menus.responsified .responsive-menus-simple li a {
  padding: rem-calc(16) rem-calc(30);
  border-bottom: 0;
}

.responsive-menus.responsified .responsive-menus-simple li a.button {
  border-style: none;
}

#first-time {
  display: none;
}