@font-face {
  font-family: 'MuseoSans';
  src: url('#{$default-font-path}/MuseoSans-300.otf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSans';
  src: url('#{$default-font-path}/MuseoSans_500.otf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSans';
  src: url('#{$default-font-path}/MuseoSans_700.otf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('#{$default-font-path}/OpenSans-Regular.ttf'),
       url('#{$default-font-path}/OpenSans-Regular.eot');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('#{$default-font-path}/OpenSans-Semibold.ttf'),
       url('#{$default-font-path}/OpenSans-Semibold.eot');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'FontAwesome';
  src: url('#{$default-font-path}/fa-solid-900.ttf'),
       url('#{$default-font-path}/fa-solid-900.eot'),
       url('#{$default-font-path}/fa-solid-900.woff'),
       url('#{$default-font-path}/fa-solid-900.woff2'),
       url('#{$default-font-path}/fa-solid-900.svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'FontAwesomeBrands';
  src: url('#{$default-font-path}/fa-brands-400.ttf'),
       url('#{$default-font-path}/fa-brands-400.eot'),
       url('#{$default-font-path}/fa-brands-400.woff'),
       url('#{$default-font-path}/fa-brands-400.woff2'),
       url('#{$default-font-path}/fa-brands-400.svg');
  font-weight: 400;
  font-style: normal;
}