a {
  color: $secondary-color;
}

h2 {
  width: 100%;
  padding: rem-calc(35) rem-calc(15);
  font-size: rem-calc(26);
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  @include breakpoint(large) {
    max-width: rem-calc(1170);
  }
  margin: 0 auto;
}

#logo {
  height: 100%;
  @include flex();
  @include flex-align(null, middle);
}

#logo img {
  max-width: rem-calc(370/2);
  //@include breakpoint(small only) {
  //  max-width: rem-calc(307/2);
  //}
}

#main-menu {
  margin: 0;
  @include flex();
}

#main-menu > li {
  list-style-type: none;
  @include flex();
  @include flex-align(null, middle);
}

#main-menu > li > a {
  text-transform: uppercase;
  font-size: rem-calc(14);
  padding: rem-calc(12.5) rem-calc(25);
  font-weight: 500;
}

.button {
  text-transform: uppercase;
  font-weight: 500;
  padding: rem-calc(12.5) rem-calc(25);
  display: inline-block;
}

.button.button-border {
  color: $primary-color;
  border: 1px solid $primary-color;
}

.button.button-primary {
  background-color: $primary-color;
  color: #fff;
}