.container {
  width: 100%;
  padding: 0 rem-calc(15);
  @include breakpoint(large) {
    max-width: rem-calc(1170);
  }
  @include breakpoint(small only) {
    padding: 0;
  }
  margin: 0 auto;
}

.row {
  @include flex();
  flex-wrap: wrap;
}

.row.nowrap {
  flex-wrap: nowrap;
}

.row.align-x-justify {
  @include flex-align(justify, null);
}

.row.align-y-middle {
  @include flex-align(null, middle);
}

.row.align-x-justify.align-y-middle {
  @include flex-align(justify, middle);
}

.row.align-x-center {
  @include flex-align(center, null);
}

.row .column {
  padding-left: rem-calc(15);
  padding-right: rem-calc(15);
}

.row .column.shrink {
  flex-shrink: 1;
}

.row .column.column-4 {
  width: 33.33333333333333%;
}

.row .column.column-6 {
  width: 50%;
}

.row .column.column-12 {
  width: 100%;
}

.row .column.medium-12 {
  @include breakpoint(medium only) {
    width: 100%;
  }
}

.row .column.small-12 {
  @include breakpoint(small only) {
    width: 100%;
  }
}