// Header

#header {
  padding: rem-calc(25) 0;
  position: relative;
  @include breakpoint(medium down) {
    padding: rem-calc(16) 0;
  }
}

#header.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff;
  z-index: 99;
}

// Hero

.hero {
  padding: rem-calc(170) 0;
  position: relative;
  background-attachment: fixed;
}

.hero .hero__title {
  color: #fff;
  text-align: center;
  font-size: rem-calc(110/2);
  text-transform: uppercase;
  font-weight: 300;
}

.hero .hero__desc p {
  color: #fff;
  font-family: 'OpenSans', Arial, sans-serif;
  font-size: rem-calc(14);
  text-align: center;
}

.hero .hero__desc p.hero__lead {
  font-size: rem-calc(34/2);
}

// Event

#next-event {
  background-color: $medium-gray;
}

#next-event {
  padding: rem-calc(30) 0;
}

.event {
  @include flex;
  @include flex-align(justify, middle);
  @include breakpoint(small only) {
    @include flex-direction(column);
    text-align: center;
  }
}

.event__left {
  @include breakpoint(small only) {
    margin-bottom: rem-calc(32);
  }
}

.event .event__next mark {
  background-color: inherit;
  color: $primary-color;
}

.event .event__next {
  font-weight: 700;
}

.event .event__address {
  margin-bottom: 0;
  font-family: 'OpenSans', Arial, sans-serif;
  font-weight: 500;
}

// Get involved
#get-involved {
  padding-bottom: rem-calc(30);
}

.involved {
  text-align: center;
  @include breakpoint(medium down) {
    max-width: rem-calc(320);
    margin: 0 auto;
  }
  // padding-bottom: rem-calc(40);
}

.involved .involved__title {
  font-size: rem-calc(17);
  font-weight: 500;
  text-transform: uppercase;
}

.involved .involved__desc {
  font-family: 'OpenSans', Arial, sans-serif;
}

.involved .involved__image img {
  max-width: 50%;
}

.involved .involved__button .button {
  padding: rem-calc(12.5) rem-calc(50);
}

// Our mission
#our-mission {
  background-color: $medium-gray;
}

.om__top {
  margin-bottom: rem-calc(70);
}

.om__top > p {
  text-align: center;
  font-size: rem-calc(17);
  font-weight: 500;
}

.om__top > p:first-child {
  font-family: 'OpenSans', Arial, sans-serif;
  font-size: rem-calc(14);
  font-weight: 400;
}

.om__block {
  position: relative;
  background-color: #fff;
  padding: rem-calc(40) rem-calc(25) rem-calc(20);
  @include breakpoint(medium down) {
    max-width: rem-calc(320);
    margin: rem-calc(66) auto 0;
  }
}

#our-mission .row > .column:first-child .om__block {
  @include breakpoint(medium down) {
    margin-top: 0;
  }
}

.om__image {
  text-align: center;
  position: absolute;
  display: inline-block;
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%);
}

.om__image img {
  width: 50%;
}

.om__title {
  text-align: center;
  color: $primary-color;
  font-weight: 500;
  font-size: rem-calc(17);
}

.om__desc {
  text-align: center;
  font-family: 'OpenSans', Arial, sans-serif;
  font-size: rem-calc(14);
  margin-bottom: 0;
}

.om__border {
  padding-bottom: rem-calc(50);
  border-bottom: 1px solid #d9dadd;
}

// Members

#members {
  padding-bottom: rem-calc(30);
  background-color: $medium-gray;
}

#members .slick-slider {
  margin-bottom: 0;
}

#members .slick-dots {
  position: relative;
  bottom: 0;
  margin: rem-calc(35) 0 0;
}

#members .slick__slide img {
  max-width: 50%;
}

#members .slick-dots li {
  width: 14px;
  margin: 0 2px;
}

#members .slick-dots li button {
  width: 14px;
  padding: 0;
}

#members .slick-dots li button:before {
  width: 14px;
}

// Blog

.blog__block {
  padding: 0 rem-calc(15);
  @include breakpoint(medium down) {
    max-width: rem-calc(320);
    margin: 0 auto;
  }
}

.blog__title {
  padding-bottom: rem-calc(12);
  border-bottom: 1px solid #d9dadd;
}

.blog__title a {
  font-size: rem-calc(14);
  font-family: 'OpenSans', Arial, sans-serif;
  font-weight: 500;
  color: $primary-color;
}

.blog__desc {
  font-size: rem-calc(14);
  font-family: 'OpenSans', Arial, sans-serif;
  padding-bottom: rem-calc(30);
  border-bottom: 1px solid #d9dadd;
}

.blog__date {
  font-size: rem-calc(14);
  font-family: 'OpenSans', Arial, sans-serif;
}

#blog .slick__slider {
  padding: 0 rem-calc(45);
}

#blog .slick-arrow,
#blog .slick-down {
  height: 65px;
  width: 45px;
}

#blog .slick-prev:before,
#blog .slick-next:before {
  font-size: rem-calc(48);
  font-weight: 900;
  font-family: 'FontAwesome', 'slick', sans-serif;
}

#blog .slick-prev:before {
  content: '';
}

#blog .slick-next:before {
  content: '';
}

#blog .slick-arrow::before {
  color: $primary-color;
}

#blog {
  width: 100%;
  @include breakpoint(large) {
    max-width: rem-calc(1170);
  }
  margin: 0 auto;
}

// Footer

#footer {
  background-color: $dark-gray;
}

.social {
  text-align: center;
  margin-bottom: 0;
  padding: rem-calc(30) 0;
  border-bottom: 1px solid #575b64;
}

.social > a {
  width: rem-calc(25);
  height: rem-calc(25);
  line-height: rem-calc(25);
  text-align: center;
  display: inline-block;
}

.social > a:not(:first-child) {
  margin-left: rem-calc(25);
}

.social > a::before {
  display: inline-block;
  width: rem-calc(25);
  height: rem-calc(25);
  color: $primary-color;
  font-weight: 900;
  font-size: rem-calc(18);
  font-family: 'FontAwesomeBrands', sans-serif;
}

.social__facebook::before {
  content: '\f39e';
}

.social__twitter::before {
  content: '\f099';
}

.social__google::before {
  content: '\f0d5';
}

.copyright {
  text-align: center;
  font-size: rem-calc(14);
  margin-bottom: 0;
  padding: rem-calc(25) 0;
}

.copyright > a {
  color: $primary-color;
}