/**
 * Default Variables.
 *
 * Modify this file to provide default Bootstrap Framework variables. The
 * Bootstrap Framework will not override any variables defined here because it
 * uses the `!default` flag which will only set their default if not already
 * defined here.
 *
 * You can copy existing variables directly from the following file:
 * ./THEMENAME/bootstrap/assets/stylesheets/bootstrap/_variables.scss
 */

// Set the proper directory for the Bootstrap Glyphicon font.
@import '../bower_components/foundation-sites/scss/util/util';
$default-font-path: '../fonts';
$default-images-path: '../images';
$body-font-family: "MuseoSans", Helvetica, Arial, sans-serif;
$color-gold: #ae9b65;

$breakpoints: (
        small: 0,
        medium: 640px,
        large: 1024px,
        xlarge: 1920px,
        xxlarge: 2560px,
);

$foundation-palette: (
        primary: #5fc0c3,
        secondary: #565659,
        success: #3adb76,
        warning: #ffae00,
        alert: #cc4b37,
);

$light-gray: #e6e6e6;
$medium-gray: #f1f2f5;
$dark-gray: #454850;
$black: #0a0a0a;
$white: #fefefe;
$font-color: #5a6175;
$body-background: $white;
$body-font-color: $font-color;

@include add-foundation-colors;

$print-breakpoint: large;
$breakpoint-classes: (small medium large xlarge xxlarge);